@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.App{
    background-color: #070724;
}
.content{
    
    background-color: #070724;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.navbar{
    
    background-color: #EB5757;
    
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}


.navbar h1{
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    margin-left: 90px;
    
}
.nav{
    
    font-size: 27px;
    letter-spacing: 0.03em;

    display: flex;
    gap: 38px;
    margin-left: auto;
    margin-right: 104px;
}
.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px;
    margin-top: 96px;
}

.search-bar{
    color: rgba(255, 255, 255, 0.3);
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    background-color: #22223D;
    border: 2px solid #FFFFFF;
    border-radius: 13px;
    width: 587px;
    height: 65px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    font-weight: 300;
}

.search-button{
    color: white;
    background: #EB5757;
    border-radius: 46px;
    
    width: 179px;
    height: 56px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
}

.recipe{
    
    display: flex;
    gap: 33px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: #0b0b1d;
    width: 965px;
    height: 297px;
    background-color: white;
}


.info{
    align-self: center;
}
.recipe:hover .foodname{
   color:#EB5757;
}

.recipe .description{
    margin-top: 20px;
    width: 537px;
    font-size: 13px;
}

.recipe h1{
    font-style: normal;
    font-weight: 1000;
    font-size: 38px;
}

.recipe button{
    width: 144px;
    height: 40px; 
    margin-top: 16px;
    background: #EB5757;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;  
}
img{
    width: 253px;
    height: 233px;
    border-radius: 10px;
    align-self: center;
    margin-left: 34px;
    margin-right: 34px;
}